<% content_for :title, 'Dr. Debra Fredericks - Integrated Behavioral Healthcare' %>
<header>
    <h1>Integrated Behavioral Healthcare</h1>
    <p>Expert Behavioral Health for Northern Nevada</p>
</header>
<section>
    <h2>You deserve care and compassion</h2>
    <p>You need a partner that you can trust when you choose a clinical psychiatric healthcare provider. Contact our office and we will find the best way that we can address your needs. </p>
    <button class="btn-cta">Schedule an appointment online</button>
</section>
<section>
    <h2>Families are at the center of mental healthcare</h2>
    <p>If your family is struggling to cope with mental health problems, we can help.Our clinic is a family business that knows how to enable families to provide care and overcome difficult life changes.</p>
    <button class="btn-cta">Learn about our approach to caregiving</button>
</section>
<section>
    <h2>Expert knowledge and decades of experience</h2>
    <p>Debra Fredericks has provided psychiatric care for thousands of
    people and families over the last 30 years. Integrated Behavioral Healthcare represents her worldview: behavioral health is the result of an integrated approach built from a mixture of clinical knowledge and theoretical foundations. Debra possess the clinical experience and rigorous scientific knowledge needed to ensure valid and rigorous mental health assessment.</p>
</section>