<nav>
   <span class="logo">
        <img src="/images/ibh_logo.png" alt="">
   </span>
   <span class="navbar-group">
        <ul>
            <li id="ThingOneButton" class="dropdown">Thing 1</li>
            li
            <li>Thing 2</li>
            <li>Thing 3</li>
            <li>Thing 4</li>
            <li>Thing 5</li>
        </ul>
   </span>
</nav>